<!doctype html>
<html>

    <head>
        <title>project</title>
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
    </head>

    <body ng-controller="namespace.MainCtrl" ng-ready="">

        <div ng-view=""></div>

        <script type="text/javascript" src="requirejs/require.js" data-main="main"></script>
        <script type="text/javascript">
            requirejs.config({
                baseUrl: './',
                paths: {
                    'angular': 'angular/angular',
                    'main': 'main',
                    'project-text': 'requirejs-text/text'
                },
                shim: {
                    angular: { deps: ['project-text'] },
                    main: { deps: ['angular'] }
                }
            });
        </script>

    </body>
</html>